.rightWrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 680px;
        height: 840px;
        border-radius: 20px;
        background: #FBE0DC;
        box-sizing: border-box;
}
