
.dropdownBreed{
    margin-left: 20px;
    margin-right: 20px;
    width: 226px;
    height: 40px;
    border-radius: 10px;
border-color: #F8F8F7;
    background: #F8F8F7;
    color: #8C8C8C;
        font-family: var(--font-jost);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        padding: 8px 10px;
        outline: none;
        overflow: scroll;
}

.limitBreed{
    margin-right: 10px;
    width: 101px;
    height: 40px;
    border-radius: 10px;
    background: #F8F8F7;
    padding: 8px 10px;
border-color: #F8F8F7;
        outline: none;
        color: #8C8C8C;
            font-family: var(--font-jost);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
}
.dropdownBreed:hover, .limitBreed:hover{
    border-color: #FBE0DC;
}
.asc{
    margin-right: 10px;
}
.desc {
    margin-right: 0;
}
.asc, .desc{
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: #8C8C8C;
    background-color: #F8F8F7;
}

.asc:hover, .desc:hover{
    color: #FF868E;
    border: 2px solid #FBE0DC;
    background: #F8F8F7;
}

.breedContent{

    overflow-y: scroll;
    width: 640px;
    height: 650px;
}

.gridBreed{
    display: grid;
    /* grid-gap: 15px; */
    grid-template-columns: repeat(auto-fill, 200px);
    grid-auto-rows: 140px;
    grid-auto-flow: dense;
    justify-content: center;
}
.item{
margin-right: 10px;
margin-bottom: 10px;
border-radius: 20px;
object-fit: fill;
flex: 1 0 auto;
display: flex;
justify-content: center;
align-items: center;
position: relative;
}
.imgOverlay{
    display: none;
}
.item:hover .imgOverlay{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 10px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 20px;
    background: rgba(255, 134, 142, 0.60);
    overflow: hidden;
}
.imgOverlayLabel{
    display: flex;
        justify-content: center;
        align-items: center;
    width: 180px;
    height: 34px;
    border-radius: 10px;
    background: #FFF;
}
.imgOverlayText{
    color: #FF868E;
    text-align: center;
        font-family: var(--font-jost);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
}
.gridImg{
    object-fit: cover;
    border-radius: 20px;
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.item:nth-child(1n){
    grid-row: span 2;
    grid-column: span 1;
}

.item:nth-child(2n),
.item:nth-child(3n),
.item:nth-child(5n),
.item:nth-child(6n), 
.item:nth-child(7n), 
.item:nth-child(10n){
    grid-row: span 1;
    grid-column: span 1;
}

.item:nth-child(4n),
.item:nth-child(9n), 
.item:nth-child(14n),
.item:nth-child(19n){
    grid-row: span 2;
    grid-column: span 2;
}

.item:nth-child(8n), .item:nth-child(11n), .item:nth-child(18n) {
    grid-row: span 2;
    grid-column: span 1;
}

.item:nth-child(12n), .item:nth-child(13n), .item:nth-child(15n),
.item:nth-child(16n),
.item:nth-child(17n),
.item:nth-child(20n){
    grid-row: span 1;
    grid-column: span 1;
}