.votingImgBox{
    width: 640px;
    height: 360px;
    border-radius: 20px;
    background-color: #1D1D1D;
    margin-bottom: 52px;
    position: relative;
    
}

/* Voting icons on image */
.votingIconsList{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -10%;
    right: 30%;
    background-color: #FFFFFF;
    border: 1px solid #ffffff;
    border-radius: 20px;
    list-style: none;
    padding: 4px;
}
.votingIconsEl{
    margin-right: 4px;
}
.votingIconsEl:last-child{
    margin-right: 0;
}
.greenIcon{
    background: #97EAB9;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: #FFF;
}
.redIcon{
    background: #FF868E;
    color: #FFF;
}
.yellowIcon{
    background: #FFD280;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #FFF;
}
.votingIconBtn{
    border: none;
    outline: none;
    width: 80px;
    height: 80px;
}
.votingIconsEl:hover .greenIcon{
    background-color: #97EAB94D;
    color: #97EAB9
}
.votingIconsEl:hover .redIcon{
    background-color: #FF868E4D;
    color: #FF868E;
}
.votingIconsEl:hover .yellowIcon {
    background-color: #FFD2804D;
    color: #FFD280;
}


.votingIconsEl:active .redIcon {
    color: #FFFFFF;
}

/* Log Box */
.votingLogsBox{
    display: flex;
    flex-direction: column;
    width: 640px;
    height: 270px;
    border-radius: 10px;
    border: 1px solid black;
    overflow-y: scroll;
}