.votingNav {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.votingInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 470px;
    height: 60px;
    border-radius: 20px;
    border-color: #FFF;
    background: #FFF;
    padding: 15px 10px 15px 20px;
    margin-right: 10px;
}

.votingInput:hover{
    border: 2px solid #FBE0DC;
}

.votingInput:active, .votingInput:focus{
    border: 2px solid #FF868E;
}
.votingInput:active .votingInputText, .votingInput:focus .votingInputText{
color: #1D1D1D;
}
.votingInputText {
    color: #8C8C8C;
    font-family: var(--font-jost);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    outline: none;
    border: none;
    width: 100%;
}

.votingInputIcon {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: #FBE0DC;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: transparent;
    outline: none;
}
.searchIcon{
    width: 20px;
    height: 20px;
    color: #FF868E;
    transition: fill 0.2s ease-in-out;
}

.votingInputIcon:hover{
    background: #FF868E;
    transition: fill 0.2s ease-in-out;
}

.votingInputIcon:hover .searchIcon{
color: #FFFFFF;
}

.navList {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
}
.navElLink {
margin-right: 10px;
}
.navEl {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    background: #FFF;
}

.navEl:last-child {
    margin-right: 0;
}

.navElIcon {
   color: #FF868E;
}

.navEl:hover{
    background: #FBE0DC;
}
.navEl:hover .navElIcon{
    color: #FF868E;
}

.active .navEl{
    background: #FF868E;
}
.active .navElIcon {
    color: #FFF;
}

.active .navEl:hover{
    background-color: #FBE0DC;
}

.active .navEl:hover .navElIcon {
    color: #FF868E;
}